name: Main
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  schedule:
    - cron: '0 0 * * 6'

jobs:
  main:
    runs-on: ${{ matrix.image }}
    strategy:
      matrix:
        image:
          - macos-14
          - ubuntu-24.04
          - windows-2022
    env:
      DOTNET_NOLOGO: 1
      DOTNET_CLI_TELEMETRY_OPTOUT: 1
      NUGET_PACKAGES: ${{ github.workspace }}/.github/nuget-packages
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - if: runner.os != 'macOS' # TODO[#91]: Restore after https://github.com/actions/runner/issues/449 is fixed.
        name: NuGet cache
        uses: actions/cache@v4
        with:
          path: ${{ env.NUGET_PACKAGES }}
          key: ${{ runner.os }}.nuget.${{ hashFiles('**/*.csproj') }}
      - name: Set up .NET SDK
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: '9.0.x'

      - name: Build
        run: dotnet build --configuration Release
      - name: Pack
        run: dotnet pack --configuration Release
      - name: Test
        run: dotnet test --configuration Release
      - name: Validate MSBuild task package
        shell: pwsh
        run: ./ChangelogAutomation.MSBuild.Tests/Run-PackageValidation.ps1
      - name: MSBuild task integration test
        shell: pwsh
        run: ./ChangelogAutomation.MSBuild.Tests/Run-Test.ps1
